.card {
  width: 50px;
  height: 100px;
  margin: 10px;
}

/*.card-hidden {
	background-color: grey;
}*/

.card-flipped {
	background: linear-gradient(
    rgb(100, 100, 100), 
    rgb(100, 100, 100)
  )
}

