.card {
  width: 80px;
  height: 120px;
  margin: 10px;
}


.card-flipped {
	background: linear-gradient(
    rgb(100, 100, 100), 
    rgb(100, 100, 100)
  )
}

.card-layout {
	width: 600px;
	display: flex;
	flex-wrap: wrap;
}

